#login {
    background-color: #4E0976;
    background: linear-gradient(1deg, #000000 4.16%, #4E0976 50%, #4E0976 100%);
    height: 660px;
    width: 100%;
    display: flex;
    align-items: end;
}

.formulario {
    height: 100%;
    width: 50%;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    display: flex;
    width: 80%;
    height: 90%;
    align-items: start;
}

.card-login h2 {
    font-size: 30px;
    justify-self: self-start;
}

.campo {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5px;
}

.campoDate {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5px;
}

.campo input {
    padding: 2%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border: none;
    outline: none;
    letter-spacing: .05rem;
}

.campoDate input {
    padding: 2%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border: none;
    outline: none;
    letter-spacing: .05rem;
    opacity: 0;
}

.campo input:valid~.placeholder,
.campo input:focus~.placeholder {
    font-size: 15px;
    transform: translateY(-32px);
}

.campoDate input:valid~.placeholder,
.campoDate input:focus~.placeholder {
    font-size: 15px;
    transform: translateY(-32px);
}

.campoDate input:valid,
.campoDate input:focus {
    opacity: 1;
}

.campo .placeholder {
    position: absolute;
    left: 0;
    padding: 18px 7px;
    color: #313032;
    pointer-events: none;
    font-size: 16px;
    transition: .3s;
}

.campoDate .placeholder {
    position: absolute;
    left: 0;
    padding: 18px 7px;
    color: #313032;
    pointer-events: none;
    font-size: 16px;
    transition: .3s;
}


.campo i {
    position: relative;
    width: 100%;
    border-bottom: 2px solid #4E0976;
    left: 0;
}

.campoDate i {
    position: relative;
    width: 100%;
    border-bottom: 2px solid #4E0976;
    left: 0;
}

#msg_criterios,
#msg_criterios2 {
    width: 100%;
    height: 20px;
    align-items: end;
    justify-content: start;
    display: flex;
    font-size: 12px;
}

#verificado {
    width: 15px;
    margin-right: 5px;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    align-self: center;
    background-color: #4E0976;
    color: white;
    border-radius: 30px;
    border: none;
}

.form button:hover {
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.form p {
    align-self: center;
}


.card-login .form p a {
    text-decoration: underline;
    color: black;
}

/* ---------------- fim formulario ----------------- */

.figuraTexto {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.figuraTexto .figura {
    width: 100%;
    height: 500px;
    background: url(../assets/cadastro-login/bola-cadastro.png);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figura .degrade {
    width: 100%;
    height: 500px;
    background: linear-gradient(1deg, rgba(0, 0, 0, 0.941) 4.16%, #d9d9d900 76.77%);

}

.textoVolta {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoVolta p {
    color: white;
    font-size: 35px;
    text-align: center;
}

/* ------------- loading e erro ---------*/

.loading-div {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.loading-div img {
    height: 30px;
    width: 30px;
}

#div_erros_login {
    display: none
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: relative;
    border-radius: 4px;
    border: #4E0976 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 15px;
}

#tituloErro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}