@font-face {
    font-family: Josefin;
    src: url(../fonte/JosefinSans-VariableFont_wght.ttf);
}

* {
    font-family: Josefin;
    margin: 0;
}

#janela {
    width: 100%;
    height: 100vh;
    background-color: #F6E6FF;
    display: flex;
}

.header_dash {
    height: 100%;
    width: 20%;
    background-color: #4E0976;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header_dash img {
    width: 200px;
}

.hello {
    width: 100%;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.abas {
    width: 100%;
    height: 200px;
    display: flex;
    font-size: 15px;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.abas h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abas img {
    width: 30px;
    margin-right: 8px;
}

.abas a {
    color: #fff;
    text-decoration: none;
}

.div_logout {
    width: 100%;
    height: 60px;
    background-color: #BB72E6;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.div_logout img {
    width: 30px;
    height: 30px;
}

.dash {
    width: 80%;
    height: 87vh;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dash .titulo {
    font-size: 30px;
    align-self: start;
}

#kpis_dash {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.kpi {
    width: 10vw;
    height: 15vh;
    padding: 2%;
    background-color: #BB72E6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 5px 2px 15px 2px #4e09765c;
}

.kpi .resultados {
    font-size: 20px;
}

#graficos {
    width: 45vw;
    height: 45vh;
    display: flex;
    background-color: #e9def4;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 6px 4px 4px #4a0a6f56;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

/*----------------------- inicio feedback -----------------*/
.feedback {
    width: 80%;
    height: 80%;
    background-color: #e9def4;
    border-radius: 10px;
    box-shadow: 6px 4px 4px #4a0a6f56;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#tabelaFeedback {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.feedUsuario {
    border: 1px solid #4E0976;
    border-radius: 10px;
    width: 80%;
    height: fit-content;
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2%;
    justify-content: space-evenly;
    transition: .50s width ease-in-out;
}

.feedUsuario hr {
    width: 100%;
    border: 1px solid #4E0976;
}

.feedUsuario:hover {
    width: 82%;
}

.apagarFeed {
    width: 150px;
    /* align-self: self-end; */
    padding: 8px;
    background-color: #4E0976;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4E0976;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #BB72E6;
}

#aqui {
    background-color: #bc72e683;
    height: 6vh;
}