
#banner {
    background: url(../assets/fundo-banner2.jpg);
    background-size: cover;
    height: 650px;
    display: flex;
    width: 100%;
}

#degrade {
    background: linear-gradient(360deg, #ffffff -2.29%, rgb(217, 217, 217) 14.41%, rgba(217, 217, 217, 0.345) 45.39%, rgba(217, 217, 217, 0.153) 65.35%, rgba(217, 217, 217, 0.02) 77.15%, rgba(217, 217, 217, 0.00) 100%);
    height: 650px;
    width: 100%;
}

#banner .container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.container .titulo1 {
    width: 180px;
    font-size: 50px;
    color: #ffffff;
    align-self: center;
    font-weight: 900;
    margin-right: 200px;
    transform: translateX(80px);
    animation: slide 1s forwards ease-in-out;
}

/* ------------------ fim banner --------------- */

#fundamentos {
    width: 100%;
    height: 500px;
}

#fundamentos .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bola {
    width: 150px;
    height: 150px;
    background-color: #4E0976;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px #636b80;
}

.bola:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4E0976;
    border-radius: 50px;
    min-width: 150px;
    width: fit-content  ;
    height: fit-content;
    min-height: 230px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.74);
    z-index: 1;
    padding: 2%;
    transition: 3s;
}


.dropdown-content p {
    font-size: 17px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    width: 180px;
}

.bola img {
    width: 100px;
}

.figuras-fundamentos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titulo h3 {
    font-size: 30px;
    font-weight: 900;
}

.card-fundamentos {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.card-fundamentos h3 {
    font-size: 22px;
}

/* ---------------- inicio conhecimentos ---------------- */
#curiosidades {
    width: 100%;
    height: 600px;
    background-color: #4E0976;
}

#curiosidades .container {
    display: flex;
}

/* ---------------- inicio jogadores ------------------- */
#jogadores {
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}
#jogadores .container {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.carrossel {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#jogadores .jogador {
    object-fit: cover;
    width: 250px;
    height: 250px;
    filter: brightness(70%);
    cursor: pointer;
}

#fileira:hover > :not(:hover){
    transform: scale(0.9);
}

#fileira {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}

.seta {
    width: 50px;
    cursor: pointer;
    position: absolute;
    border: 1px solid #4E0976;
    border-radius: 50%;
}

.seta:first-child {
    left: 120px;
}

.seta:last-child {
    right: 120px;
}

.curiosidadeJogador {
    width: 250px;
    height: 250px;
    padding: 5px;
    transition: .35s;
}

.curiosidadeJogador:hover .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.curiosidadeJogador .conteudo {
    display: none;
    background-color: #00000096;
    width: 245px;
    height: 245px;
    padding: 3px;
    transition: 3s;
    transform: translateY(-254px);
    position: static;
}


.curiosidadeJogador .conteudo p {
    font-size: 15px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    width: 180px;
    font-weight: 700;
}

.curiosidadeJogador .conteudo h3{
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    width: 180px;
}
/* ---------------- inicio link sobre mim--------------- */
.sobre_mim {
    width: 100%;
    height: 500px;
}

.sobre_mim .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sobre_mim .container img {
    width: 400px;
}

.sobre_mim .container .texto span{
    font-size: 25px;
    width: 80%;
    font-weight: 700;
}

.sobre_mim .container .texto {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sobre_mim .container .texto button{
    width: 50%;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    background-color: #4E0976;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

