#banner {
    background-color: #4E0976;
    height: 400px;
    display: flex;
    width: 100%;
}

#degrade {
    background: linear-gradient(360deg, #ffffff -2.29%, rgb(217, 217, 217) 14.41%, rgba(217, 217, 217, 0.345) 45.39%, rgba(217, 217, 217, 0.153) 65.35%, rgba(217, 217, 217, 0.02) 77.15%, rgba(217, 217, 217, 0.00) 100%);
    height: 400px;
    width: 100%;
}

#banner .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.container img {
    width: 50px;
}

.container .titulo1 {
    width: 600px;
    font-size: 50px;
    color: #ffffff;
    align-self: center;
    transform: translateX(80px);
    animation: slide 1s forwards ease-in-out;
    text-align: center;
}
/*----------------- fim banner --------------- */
#quiz {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#btn_avancar {
    font-size: 20px;
    background-color: #4E0976;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 200px;
    align-self: end;
    margin-right: 20vh;
    cursor: pointer;
    justify-content: center;
}

#btn_voltar {
    font-size: 20px;
    background-color: #4E0976;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 200px;
    align-self: end;
    margin-left: 20vh;
    cursor: pointer;
    justify-content: center;
}

#quiz .container h3 {
    font-size: 25px;
    height: 100px;
    align-items: center;
    display: flex;
}

#quiz .container {
    height: 100px;
}

.pergunta{
    width: 100%;
    height: 500px;
}

.pergunta #imagemPergunta {
    height: 40%;
    width: 100%;
}

.pergunta #imagemPergunta img {
    width: 100%;
    height: 100%;
    filter: brightness(20%);
}

.pergunta #textoPergunta {
    background-color: #4E0976;
    width: 100%;
    height: 70%;
}

.pergunta #textoPergunta .container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#textoPergunta .container p {
    color: #ffffff;
    font-size: 20px;
}

#textoPergunta .container .btn-respostas {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-respostas div {
    background-color: #ffffff;
    color: #4E0976;
    width: 150px;
    height: 5vh;
    padding: 2%;
    font-size: 17px;
    margin: 0;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-respostas div:hover {
    background-color: rgb(236, 223, 242);
    cursor: pointer;
}

.btn-respostas div:active {
    background-color: #ad89c2;
    color: #ffffff;
}

#botoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.tituloContagem {
    display: flex;
    justify-content: space-between;
}